#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$.fNRZXQSG78OW9SI$ggK.KujKWxJAyBvKBv9FWt0YtFYngc5oI6CYP0/2pRAUMXVNjv5xG3Q5359zlOy42tExKDii.qWTqc7vwnK7O/
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Moscow --isUtc
#  user_1
user --name=user_1 --password=$6$whoopie$wMpgHZ4nKDKoAdYa1n./kktNLdBgnwY75O4oIAuOC8ZlAeg3UJvkObKI7LgCBmWYcuVxfxUrDwJWYqxeyMqMH/ --iscrypted --gecos="user_1"
#  user_2
user --name=user_2 --password=$6$whoopie$l/Bi9sXZJ3h/FZEJR4q36h7RfaYKRYFsgeLRxNY.3iTZtp0tt48hL/gmQD1XZsfwZGz9TGgZvbxr6BdqsA8hi. --iscrypted --gecos="user_2" --groups=wheel
#  user_3
user --name=user_3 --password=$6$whoopie$gXk5jZc/xdL.6Bmc1WM.t7d647cLPKB1YYaUs6oLY82MzpRHyfwEdzHchkfnX0yg0zwUpfMXiR9mFBpm0JMEi1 --iscrypted --gecos="user_3"
#  french
user --name=french --pasword=$6$whoopie$I2AU/OgrOWMsXIDh9I7.6AVFMHRUVNg1gUVixVl.Km3KEx1orNV2sckyh/d62LLuczx2SR2SGvI3vNcNck7wT. --iscrypted --gecos="french"
#  german
user --name=german --pasword=$6$whoopie$5o/LIqyv1fUZvfwhix8Dhd2BUNXduglsOzabsBiM/NjcopK3WM42Qyl26M7YNBqaghpICt/tEhJNb105dXaNv/ --iscrypted --gecos="german"
#  english
user --name=english --pasword=$6$whoopie$19NxKjMU3rXnj0Lktx84Opd/U1unoiyoNOVTA4Z.iysjOqBtOONUHGYYg8YBj4e2ccGXSTHAMbQ6tuV2WgpQ.1 --iscrypted --gecos="english"

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
@development
chrony
kexec-tools
vim
tmux

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end

%post --nochroot
awk -F: '{if ($3>=1000) { path=$6."/hello/world/my/name/is/"; print "mkdir -p "path"; touch "path$1} }' /etc/passwd | bash -x
echo export LC_ALL=en_US.UTF-8 >> "$(getent passwd english | cut -d: -f6)/.bashrc"
echo export LC_ALL=fr_FR.UTF-8 >> "$(getent passwd french | cut -d: -f6)/.bashrc"
echo export LC_ALL=de_DE.UTF-8 >> "$(getent passwd german | cut -d: -f6)/.bashrc"
%end

